footer {
    padding-top: 50px;
    padding-bottom: 20px;
}

.footer__top {
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(239, 240, 246, 1);
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.footer__item h1{
    font-size: 28px;
    margin-bottom: 12px;
}

.footer__item p {
    margin-bottom: 12px;
    color: rgba(110, 113, 145, 1);
}

.footer__item h2 {
    font-size: 20px;
    margin-bottom: 12px;
}

.footer__item h3 {
    font-size: 18px;
    margin-bottom: 6px;
}

.footer__item:last-child h3 {
    font-size: 26px;
    color: rgba(0, 117, 255, 1)
}

.footer__blocks {
    display: flex;
    gap: 12px;
}

.footer__blocks > div {
    width: 25px;
    height: 25px;
    border-radius: 4px;
    background-color: rgba(237, 245, 255, 1);
}

.footer__bottom {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 900px) {
    .footer__top {
        grid-template-columns: 1fr 1fr;
        column-gap: 32px;
        row-gap: 48px;
    }
}

@media (max-width: 800px) {
    .footer__bottom {
        flex-direction: column;
        row-gap: 12px;
        text-align: center;
    }
}

@media (max-width: 500px) {
    .footer__top {
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .footer__blocks {
        justify-content: center;
    }
}